.container {
  width: 100%;
}

h1 {
  color: blueviolet;
  font-weight: bold;
  text-align: center;
  margin-top: 1rem;
}

.button-opcoes {
  float: right;
  margin-right: 2%;
}

.table-solicitacao-pendente {
  margin: auto;
  width: 96%;
}

.filtro{
  margin-left: 2%;
  width: 96%;
}

.mat-column-dataSolicitacao {
  width: 10%;
}

.mat-column-dataConclusao {
  width: 10%;
}

.mat-column-turma {
  width: 10%;
}

.mat-column-aluno {
  width: 25%;
}

.nomeAluno:hover {
  font-size: 1.1em;
  color: blueviolet;
  cursor: pointer;
}

.mat-column-descricao {
  width: 30%;
}

.mat-column-status {
  width: 10%;
}

.mat-column-acao {
  width: 5%;
}

.div-acao {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.icon-edit {
  transform: scale(0.8);
  color: blueviolet;
}

.icon-delete {
  transform: scale(0.8);
  color: red;
  margin-left: -2rem;
}

.cards-solicitacao{
  width: 100%;
}

.card-solicitacao{
  width: 96%;
  margin: 0 auto .5rem auto;
  background-color: rgb(235, 235, 235);
}

.card-operacao-menu{
  float: right;
}

.card-operacao-icon-edit{
  transform: scale(0.7);
  color: blueviolet;
  display: inline;
  cursor: pointer;
}

.card-operacao-icon-delete{
  transform: scale(0.7);
  color: red;
  display: inline;
  cursor: pointer;
}

.card-solicitacao-item{
  display: block;
}

.card-solicitacao-item-key{
  display: inline;
  color: red;
  font-weight: 500;
}

.card-solicitacao-item-value{
  display: inline;
  margin-left: .5rem;
}

@media only screen and (max-width:768px){
  h1 {
   font-size: 1.2rem;
  }
}
