.container {
  width: 100%;
}

.title {
  font-weight: bold;
  width: 100%;
  text-align: center;
  color: blueviolet;
  margin-top: 1rem;
}

.header {
  display: flex;
  flex-direction: row;
  width: 96%;
  margin: auto;
  justify-content: space-between;
}

.header-input {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.header-count {
  color: blueviolet;
  font-weight: bold;
  display: inline;
  margin-right: 1rem;
}

.button-import {
  float: right;
}

.card {
  background-color: rgb(235, 235, 235);
  width: 96%;
  margin: auto;
}

.filter {
  width: 100%;
}

.table {
  width: 100%;
}

@media only screen and (max-width:768px) {
  .title {
    font-size: 1.2rem;
  }

  .header {
    flex-direction: column;
    justify-content: flex-start;
  }

  .button-import {
    float: none;
    width: 90%;
    display: block;
    margin: auto;
    margin-top: 2rem;
  }

}
