.container {
  width: 100%;
  min-height: 100vh;
  background-color: #1C1C1C;
  padding: 1rem;
}

.card {
  width: 100%;
  background-color: rgb(235, 235, 235);
  min-height: 100vh;
}

.card-header {
  display: flex;
  flex-direction: column;
}

.card-aluno-nome {
  color: royalblue;
}

.card-aluno-turma {
  color: red
}

.card-aluno-idade {
  font-weight: bold;
}

.card-aluno-empresa {
  font-weight: bold;
}

.button-access-unlock {
  margin-top: 1em;
  background-color: forestgreen;
  color: white;
  float: right;
  width: auto;
}

.button-access-lock {
  margin-top: 1em;
  background-color: red;
  color: white;
  float: right;
  width: auto;
}

.button-more {
  margin: 1rem 0 1rem 1rem;
  background-color: royalblue;
  color: white;
  float: right;
  width: 8rem;
}

.aluno-foto {
  height: 10rem;
  width: 8rem;
}

.tab{
  width: 100%;
}

.mat-tab-icon {
  color: red;
}

.card-detalhes {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.card-ponto {
  margin: auto;
  width: 100%;
}

.table-ponto {
  width: 60%;
  margin: auto;
}

.list-detalhes{
  width: 100%;
}

.ponto-filtro{
  width: 20rem;
  margin-left: 1rem;
}

.list-item-title {
  color: red;
  margin-right: 1rem;
  margin: auto 0 auto 0;
  display: inline;
}

.list-item-descricao {
  color: blue;
  margin: auto 0 auto 1rem;
}

.button-editar-tag {
  width: auto;
  margin-left: 1rem;
}

.tag-input{
  width: 9.5rem;
}

.table-ocorrencia {
  width: 100%;

}

.ocorrencia-button-nova {
  float: right;
}

.ocorrencia-filtro{
  width: 20rem;
  margin-left: 1rem;
}

.mat-column-data {
  min-width: 10%;
  max-width: 10%;
}

.mat-column-tipo {
  min-width: 15%;
  max-width: 15%;
}

.mat-column-registrado_por {
  min-width: 14%;
  max-width: 14%;
}

.mat-column-descri--o,
.mat-cell,
.cdk-column-descri--o {
  min-width: 40%;
  max-width: 40%;
}

.mat-column-bloqueio {
  min-width: 7%;
  max-width: 7%;

}

.card-ocorrencia{
  background-color: rgb(235, 235, 235);
  padding: .5rem;
}

.card-ocorrencia-menu{
  float: right;
}

.card-ocorrencia-icon-edit{
  transform: scale(0.9);
  color:red;
  cursor: pointer;
}

.card-ocorrencia-icon-delete{
  transform: scale(0.9);
  color: royalblue;
  cursor: pointer;
}

.card-ocorrencia-item{
  display: block;
}

.card-ocorrencia-key{
  color: red;
  font-weight: 500;
  display: inline;
}

.card-ocorrencia-value{
  margin-left: 1rem;
  display: inline;
  line-height: 1rem;
}

.table-icon-edit {
  max-width: 2em;
  min-width: 2em;
  transform: scale(0.8);
  color: royalblue;
  cursor: pointer;
  display: inline;

}

.table-icon-delete {
  max-width: 2em;
  min-width: 2em;
  transform: scale(0.8);
  color: red;
  cursor: pointer;
  display: inline;
  margin-left: .4em;
}

@media only screen and (max-width:768px) {

  .card {
    width: 98%;
    margin: auto;
  }

  .button-access-unlock, .button-access-lock{
    width: 100%;
    display: block;
    float: none;
    margin-bottom: 1rem;
  }

  .card-detalhes {
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
  }

  .list-item-title, .list-item-descricao  {
    font-size: .8rem;
  }

  .table-ponto {
    width: 90%;
  }

  .ocorrencia-filtro, .ponto-filtro{
    width: 100%;
    margin: auto;
  }

}
